table {border-collapse: collapse;width:100%;text-align:center;}
th,td {border: 1px solid black;}
#id_edd {text-align:center;}
#id_lmsgi {text-align:center;}
#id_prog{text-align:center;}
#id_fol{text-align:center;}
#id_bbdd{text-align:center;}
#id_si{text-align:center;}
