*{
    margin:0;
    padding:0;
}
html{
    font-family: sans-serif;
    margin-bottom: 5rem;
}
section{
    width: 16rem;
    background-color:rgb(51, 198, 235);
    border: 5px dotted  #005a66;
    margin: 10px;
    font-size: 1.4rem;
    padding: 1rem;
    text-align: justify;
    float:left;
    
}
body{
    background-color: turquoise;
    width: 1024px;
    margin: 0 auto;
}
h1{
    text-align:center;
    letter-spacing: 4rem;
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: bold;
    color: #005a66;
    padding: 1rem 0;
}
h2{
    font-style: italic;
    text-align: center;
}
blockquote:first-letter{
    font-size: 5rem;
    float: left;
    line-height: 2.6rem;
    color: #005a66;
    padding: 0.5rem;
}
footer{
    background-color: white;
    position:fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 0.4rem;
    clear:both;
}
li{
    display: inline-block;
    font-size: 2.5rem;
    padding-left: 4rem;
    padding-right: 4rem;
}

a{
    text-decoration: none;
    color: black;
}
figcaption{
    font-size: 0.8rem;
}
