html {
    background-image: url(logo.png);
}

header {
     color: white;
    background-color: grey;
    text-align: center;
}

.content-1 {
    display: inline-table;
    text-align: center;
    margin: 5px 5px;
    padding-top: 5px;
    border: 1px solid black;
    height: 125px;
    width: 200px;
    background-color: #D4CECC;
}

.naranja {
    color: orange;
}

footer {
    color: white;
    background-color: grey;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}