/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 9 may 2023, 9:15:55
    Author     : daw1
*/
.pregunta{
    border: solid 2px black;
    margin-bottom: 3px;
}
label{
    display: block;
     border: dotted 1px black;
}
.botones{
    display: flex;
    justify-content: center;
    gap: 1em;
    margin:20px;
}
.contenido{
    border: solid 1em rgb(179, 179, 179);
}
form{
    width: 60%;
}
