/*GENERAL*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box; /* contiene las cajas teniendo en cuenta padding y borde, es decir, da tamaño a la caja */
}
html{
	width: 1024px;
	margin: 0 auto;
	margin-bottom: 5rem;
	background-color:rgb(228, 255, 246);
}
a{
	text-decoration: none;
	color: white;
}
/*ENCABEZADO*/
img{
	background-color: white;
	float: left;
	margin: 0.5rem;
	margin-left: 1rem;
	border-radius: 50%;
}
h1{
	float: left;
	font-size: 3rem;
	margin-top: 2rem;
	padding-left: 0.5rem;
}
#encabezado{
	width: 100%;
	color: white;
	display: inline-block;
	background-color: #008000;
	margin-bottom: 1rem;
}
/*MENU DE NAVEGACION*/
li{
	display: inline-block;
	font-size: 2rem;
	color: white;
	margin-right: 2rem;
}
li:hover{
	text-decoration: underline;
}
ul, ol{
	list-style: none;
	background-color: #008000;
	padding: 1rem;
	margin-bottom: 1rem;
	text-align: center;
}
h2{
	text-align: center;
	font-size: 2rem;
	margin-bottom: 1rem;
	text-decoration: underline;
}
/*TABLAS*/
table{
	width: 70%;
	border-collapse: collapse;
	border: 1px dotted white;
	margin: auto;
}
td, th{
	width: 10rem;
	height: 3rem;
	text-align: center;
	color: white;
	border: 1px dotted white;
	vertical-align: middle;
}
/*FONDOS DE TABLAS, ID*/
article{
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}
#HORARIO {background-color: graytext;}
#LMSGI {background-color: gold;}
#BBDD {background-color: darksalmon;}
#Programación { background-color: darkorange;}
#Entorno {background-color:greenyellow;}
#Sistemas {background-color:goldenrod;}
#FOL {background-color: graytext;}
/*CLASSES*/
.GENERAL{background-color: #008000;}
.HORARIO {background-color: graytext;}
.LMSGI {background-color: gold;}
.BBDD {background-color: darksalmon;}
.Programación { background-color: darkorange;}
.Entorno {background-color:greenyellow;}
.Sistemas {background-color:goldenrod;}
.FOL {background-color: graytext;}
/*TITULOS DE CADA TABLA*/
h3{
	font-size: 1.5rem;
	color: white;
	border: 1px solid white;
	margin: 0.5rem;
	padding: 0.5rem;
}
/*COLOR CELDAS DE CADA TABLA*/
.LMSGI1{
	background-color:goldenrod;
}
.BBDD1{
	background-color: rgb(218, 112, 77);
}
.Programación1{
	background-color: rgb(255, 94, 0);
}
.Entorno1{
	background-color:rgb(125, 201, 12);
}
.Sistemas1{
	background-color:rgb(180, 130, 2);
}
.FOL1{
	background-color:rgb(78, 78, 78);
}
/*FOOTER DE LA PAGINA*/
address{
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	padding: 1rem;
	text-align: center;
	color: white;
	background-color: #008000;
}