/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 18 abr 2023, 9:48:30
    Author     : daw1
*/
*{
    margin: 0;
}
html{
    font-family: 'Roboto', sans-serif;
}
h1{
    padding-left: 20px;
    width: 100%;
    color: green;
    background-color: #E0E1EB;
}
h2{
    padding-left: 20px;
    width: 100%;
    color: white;
    background-color: green;
}
h3{
    padding-left: 20px;
    width: 100%;
    border: 1px solid greenyellow;
    color: green;
}
table{
    width: 50%;
    margin: auto;
    border-collapse: collapse;
}
.lineas{
    border-bottom: 1px solid #E0E1EB;
}
#fecha{
    text-align: center;
    color: green;
    font-style: oblique;
    font-variant: small-caps;
}
footer{
    padding: 10px;
    color: white;
    background-color: green;
    text-align: right;
}