/*IMPORT SIN ETIQUETA STYLE */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@font-face{ 
	font-family: 'Akronim';
	src: url("../font/Akronim-Regular.ttf"); 
} 
*{
	margin: 0;
	padding: 0;
}
html{
	margin-bottom: 3rem;
}
main{
	position: relative;
}
h1{
	text-align: center;
	font-size: 3rem;
}
/* ESTILOS DE LOGOS*/
a{
	text-decoration: none;
	color: #FF81AE;
	font-size: 5em;
	margin: 50px;
}
a span{
	color: #00B8B8;
}
a.logo-1{
	font-family: 'Lobster', cursive;
}
a.logo-2{
	font-family: 'Pacifico', cursive;
}
a.logo-3{
	font-family: 'Berkshire Swash', cursive;
}
a.logo-4{
	font-family: 'Great Vibes', cursive;
}
/* ESTILOS DE LOS PARRAFOS*/
div:nth-child(1){
	font-family: verdana, sans-serif;
}
div:nth-child(2){
	font-family: 'GFS Didot', serif;
}
div:nth-child(3){
	font-family: 'Space Mono', monospace;
}
div:nth-child(4){
	font-family: 'Roboto', sans-serif; 
}
div:nth-child(5){
	font-family: 'Akronim';
	font-size: 24px;
}
div:nth-child(6){
	font-family: 'Montserrat', sans-serif;
}
/* POSICIONAMIENTO Y BORDES DE CONTENT Y DIV*/
.content{
	width: 100%; 
	max-width: 600px;
	padding-top: 25px;
	padding-right: 50px;
	padding-bottom: 10px;
	padding-left: 50px;
	border: 1px solid black;
	border-top: dashed red;
	border-bottom: dashed green;
	border-right: dotted red;
	border-left: dotted orange;
	position: absolute;
	left: 50%;
}
.content div{
	width: 30%; 
	max-width: 300px;
	background-color:#97AEF1;
	padding-top: 25px;
	padding-bottom: 25px;
	padding-right: 10px;
	padding-left: 10px;
	border: 2px solid red;
}
.content div:nth-child(odd){
	position: relative;
	left: 50%;
}
.content div:nth-child(even){
	text-align: center;
}
/* ESTILOS DE FOOTER*/
footer{
	width: 100%;
	position: fixed;
	left: 0;
	bottom: 0;
}

