:root {
    --colorFondo: #e0e1eb;
    --color1: #31334d;
  }
  
* {
    margin: 0;
    padding: 0;
}

html {
    font-family: sans-serif;
    margin-bottom: 5rem;
}
body {
    background-color:   var(--colorFondo);

}
section {
    width: 26%;
    background-color: var(--colorFondo);
    margin-left: 4%;
    margin-top: 2rem;
    font-size: 1.4rem;
    text-align: justify;
    float: left;
    border-left: 2px solid var(--color1);
    border-right: 2px solid var(--color1);
    padding-left: 0.8rem;
    padding-right: 0.8rem;
}

article{
    border: 2px solid var(--color1);
    border-radius: 1%;
    margin-bottom: 2rem;
    font-size: 0.6rem;
}
article header {
    background-color: white;
    margin-bottom: 1rem;

}
article header h3 {
    font-size: 1.4rem;
    padding-left:0.4rem;
    padding-right:0.4rem;
}
article header h4 {
    font-size: 0.8rem;
    padding-left:0.4rem;
    padding-right:0.4rem;
}

h1 {
    font-style: italic;
    text-align: center;
    letter-spacing: 0.5rem;
    font-size: 3.5rem;
    color: #ffffff;
    padding: 1rem 0;
    background-color: var(--color1);
    width: 100%;
}

h2 {
    text-align: left;
    color: #ffffff;
    padding: 1rem 0;
    background-color: var(--color1);
    width: 100%;
    font-size: 2.5rem;
    margin-bottom: 0.8rem;
    padding-left:0.4rem;
}
blockquote{
    font-size: 1rem;
    padding-left:0.4rem;
    padding-right:0.4rem;
}
footer {
    background-color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 0.4rem;
    clear: both;
}

nav {
    position: fixed;
    top: 0rem;
    right: 0rem;
}
ol{
    list-style: none;
    display: flex;
    padding-right: 1rem;
}
li{
    padding: 10px;
}

a {
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: underline;
}
figure{
    border: 2px solid var(--color1);
    font-size: 0.8rem;
    width: 40%;
    margin-left: 8.5rem;
    text-align: center;
}