@font-face {
    font-family: 'FreeMono';
    src: url('../fonts/FreeMono.ttf');
}

@font-face {
    font-family: 'Akronim';
    src: url('../fonts/Akronim-Regular.ttf');
}

@font-face {
    font-family: 'Qwigley-Regular';
    src: url('../fonts/Qwigley-Regular.ttf');
}