* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: san-serif;

}

ul,
ol {
    list-style: none;
    text-decoration: none;
}

a:link, a:visited, a:active{ 
    text-decoration: none;
    list-style: none;
}

li {
    font-size: 1.8rem;
    margin-left: 2rem;
}

header img {
    float: left;

}

h2 {
    font-size: 2rem;
    margin-left: 2rem;
}

h1 {
    color: green;
    font-size: 4rem;
    margin-bottom: 2rem;
    border-bottom: 3px solid green;
    letter-spacing: 0.4rem;
}

article {
    border: 1px solid green;
    border-radius: 50px 50px 0 0;
    float: left;
    color: green;
    margin: 1rem;
    background-color: green;
    width: 22%;

}

ol {
    background-color: white;
}

article header {

    color: white;
    border-radius: 5% 5% 0 0;

}

footer {
    background-color: green;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 0.4rem;
    clear: both;
    float: left;
    color: white;
}

footer th {
    border: 1px solid white;
}
ol div{
    margin-left: 40px;
    padding: 2px;
}
ol div a{
    margin-left: 0px;
}