:root {
    --colorFondo: #fff280;
    --colorTituloSeccion: #ffc533;
    --colorTituloArticle: #ff7740;
    --colorFondoArticle: #ffeb33;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

ul,
ol {
    list-style: none;
}

a {
    color: black;
}

html {
    font-family: sans-serif;
    margin-bottom: 5rem;
}

body {
    background-color: var(--colorFondo);
}

section {
    width: 34rem;
    border: 1px solid var(--colorTituloSeccion);
    margin: 0.5rem;
    float: left;

}

article {
    width: 15rem;
    background-color: var(--colorTituloArticle);
    border: 2px solid var(--colorTituloArticle);
    color: white;
    margin: 0.5rem;
    float: left;

}

article h3 {
    font-size: 1.5rem;
}

article h4 {
    font-size: 0.8rem;
}

article blockquote {
    background-color: var(--colorFondoArticle);
    margin: 3px;
    padding: 3px;
    color: black;
}

li {
    display: inline-block;
    padding: 1rem;
}

h1 {
    text-align: center;
    letter-spacing: 0.2rem;
    font-style: oblique;
    font-size: 3.5rem;
    font-weight: bold;
    color: #000000;
    padding: 1rem 0;
    letter-spacing: 0.4;
}

h2 {
    background-color: var(--colorTituloSeccion);
    font-size: 2.5rem;
}

footer {
    background-color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 0.4rem;
    clear: both;
}

figure {
  
    font-size: 0.8rem;
    width: 75%;
    text-align: center;
    margin:0%;
}
figure img{
    border: 2px solid var(--colorTituloArticle);
    width: 100%;
}