/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 8 jun 2023, 13:31:13
    Author     : daw1
*/

table{
   border: 1px solid black;
}


th{
   border: 1px solid black;
}


span{
    display: block;
}

html{
    background-image: ../images/general.jpg;
}