* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: san-serif;
    
}

ul,ol {
    list-style: none;
    text-decoration: none;
}

a {
    text-decoration: none;
}
nav {
    float:right;
    top: 0;
    right: 0;
    margin-right: 1rem;
    background-color: green;
    color: white;
}


header img{
    float:left;
    
}

h2{
    color:green;
    font-size: 4rem;
    margin-bottom: 2rem;
    border-bottom: 3px solid green;
    letter-spacing: 0.4rem;
    
}

article{
    border:1px solid green;
    border-radius: 5% 5% 0 0;
    float:left;
    color:green;
    margin: 1rem;
}
article header{
    background-color: green;
    color: white;
    border-radius: 5% 5% 0 0;
    
}

footer {
    background-color: green;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 0.4rem;
    clear: both;
    float:left;
}

footer th{
    border: 1px solid white;
}