:root {
    --colorFondo: #e0e1eb;
    --color: #31334d;
}
body {
    background-color: var(--colorFondo);
}
* {
    padding: 0;
    margin: 0;
    font-family: Helvetica, sans-serif;
}
address {
    position: fixed;
    left: 38.5%;
    bottom: 0.2%;
}