body{
	background-image: url("https://p4.wallpaperbetter.com/wallpaper/893/8/850/flags-flag-of-germany-germany-wallpaper-preview.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	color:white;
}

.imagen{
	display: flex;
	justify-content: center;

}

.w124, .w210, .w211{
	display:inline-block;
	margin: 15px;
}

.audio{
	display: flex;
	justify-content: center;
	text-align:center;
	font-style:italic;
	font-weight:bold;
	font-size:20px;
	margin:75px;
}

.a_w124{
	margin-left:50px;
	display:inline-block;
	width: 400px;
	height:300px;
	background-repeat:no-repeat;
	background-size: cover;
}

.a_w210{
	margin-left:50px;
	display:inline-block;
	width: 400px;
	height:300px;
	background-repeat:no-repeat;
	background-size: cover;
}

.a_w211{
	margin-left:50px;
	display:inline-block;
	width: 400px;
	height:300px;
	background-repeat:no-repeat;
	background-size: cover;
}

.video{
	display: flex;
	justify-content: center;
}

.v_w124, .v_w210, .v_w211{
	display:inline-block;
	margin-left:50px;
	background-color: black;
}

.footer1{
	text-align:center;
}