.formulario {
    border: 3px grey solid;
}

.pregunta {
    background-color: white;
    border: 1px grey solid;
}

.enunciadoPregunta {
    font-weight: bold;
}

label {
    display: block;
    border: 1px black dotted;
}

.botones {
    text-align: center;
    margin-top: 10px;
}