div {
        width: 250px;
        height: 250px;
        margin: 10px;
        padding: 30px;
        border: 5px solid black;
        background-image: url(../images/punto.png);
        background-size: 40%;
		background-repeat: no-repeat;
		background-position: top left, 50%;
        display: inline-block;
}

div:nth-child(2) {
    background-image: url(../images/punto.png), url(../images/punto.png);
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: top left, bottom right, 50% 50%;
}

div:nth-child(3) {
    background-image: url(../images/punto.png), url(../images/punto.png), url(../images/punto.png);
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: top left, bottom right, 50% 50%;
}

div:nth-child(4) {
    background-image: url(../images/punto.png), url(../images/punto.png), url(../images/punto.png), url(../images/punto.png);
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: top left, bottom right, top right, bottom left;
}

div:nth-child(5) {
    background-image: url(../images/punto.png), url(../images/punto.png), url(../images/punto.png), url(../images/punto.png), url(../images/punto.png);
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: top left, bottom right, top right, bottom left, center center;
}

div:nth-child(6) {
    background-image: url(../images/punto.png), url(../images/punto.png), url(../images/punto.png), url(../images/punto.png), url(../images/punto.png), url(../images/punto.png);
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: top left, bottom right, top right, bottom left, center right, center left;
}

