/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 25 abr 2023, 9:44:21
    Author     : daw1
*/
html{
   background-image: url("./media/images/03.png");
}

h1{
    color: white;
    background-color: grey;
    text-align: center;
}

