* {
    font-family: 'Permanent Marker', cursive;
}

html {
    width: 1024px;
    margin: 0 auto;
}

header {
    color: white;
    background-color: #387ab6;
    text-transform: uppercase;
}

table, tr, td {
    border:1px black groove ;
   width: 100%;
    margin: 0 auto;
}

td {
    width: 200px;
}

.codigoReparaciones {
    font-weight: bold;
}

.textoMatricula {
    text-align: center;
    font-weight: 900;
}

.cabeceras {
    color: white;
    background-color: #387ab6;
}

.pies {
    color: white;
    background-color: #387ab6;
    font-variant: small-caps;
}